# Pandas Library

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\minhazul alam\appdata\roaming\python\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\minhazul alam\appdata\roaming\python\python312\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\minhazul alam\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\minhazul alam\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\minhazul alam\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\minhazul alam\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

2.2.2

# Create Pandas Series

In [4]:
arr=[1,2,3,4,5]
s1=pd.Series(arr)

In [5]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Dictionary into Pandas

In [6]:
dict1={'a':4,'b':5,'c':8}

In [7]:
s2=pd.Series(dict1)

In [8]:
s2

a    4
b    5
c    8
dtype: int64

# Creating Pandas DataFrame

In [9]:
data={'name':['Asif','Parvez','Naharul','Asad','Rakib','Asifa'],
      'Age':[25,40,34,20,75,28],
      'Sex':['male','male','male','male','male','female'],
      }

In [10]:
data

{'name': ['Asif', 'Parvez', 'Naharul', 'Asad', 'Rakib', 'Asifa'],
 'Age': [25, 40, 34, 20, 75, 28],
 'Sex': ['male', 'male', 'male', 'male', 'male', 'female']}

# Convert DataFrame into Dictionary

In [11]:
df=pd.DataFrame(data)

In [12]:
df

      name  Age     Sex
0     Asif   25    male
1   Parvez   40    male
2  Naharul   34    male
3     Asad   20    male
4    Rakib   75    male
5    Asifa   28  female

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   Age     6 non-null      int64
 2   Sex     6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes